body {
    background-color: #26223b;
    color: #FFF;
    font-family: Arial, sans-serif;
}

.dark {
    background-color: #26223b;
}

.light {
    background-color: #423e59;
}



p {
    font-size: 18px;
}

